@media screen and (max-width: 800px){
    .nav{
        /* display: none; */
        flex-direction: column;
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -500px;
        padding: 30px;
        padding-top: 150px;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 99;
        transition: 1s ease-in-out;
    }
    .opened{
        left: 0;
    }
    .logo{
        z-index: 100;
        color: black;
    }
    .nav-opener{
        display: inline;
        z-index: 100;
    }
    .reveal:nth-of-type(even){
        flex-direction: column;
    }
    .reveal:nth-of-type(odd){
        flex-direction: column-reverse;
    }
    .text{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .text-between{
        height: 300px;
    }
}